---
import { Post, User, db, eq } from "astro:db"

import Layout from "../layouts/Base.astro"

import { getCollection } from "astro:content"
import { asc } from "astro:db"

const posts = await getCollection("posts")

// вовод с именами пользователей которые добавили пост
const postsList = await db
	.select()
	.from(Post)
	.innerJoin(User, eq(Post.userId, User.id))
	.orderBy(asc(Post.id))

---

<Layout>


	<section class="grid md:grid-cols-2 gap-3 grid-cols-1">
		{
			postsList &&
				postsList.map((post: any) => (
					<article
						id={`пост: ${post.Post.id}`}
						class=""
					>
						<>
							<h1 class="text-red-500">{post?.User?.username}</h1>
							<h2>{post.Post.title}</h2>
							<p>{post.Post.description}</p>
						</>
					</article>
				))
		}
	</section>
</Layout>
