---

---

	<h1 class="tracking-tighter text-4xl md:text-6xl font-black">
		Все 12-ти шаговые группы, сообщества и проекты в одном месте
	</h1>
	<p class="text-zinc-600">
		12-ти шаговые группы, проекты и материалы разных зависимостей <i><b>(сообществ)</b></i
		> и направлений.
	</p>
	<a
		href="https://t.me/all_groups12/5"
		tabindex="_blank"
		class="bg-red-50 md:block hidden hover:bg-red-100 transition-colors duration-75 ease-linear rounded-lg px-3 py-1 ring-1 ring-red-200 text-red-500"
	>
		Нашли свою группу, но ее добавили без вашего разрешения? - написать нам.
	</a>
	<!-- <aside class="flex justify-center gap-3">
		<a
			href="https://t.me/all_groups12"
			target="_blank"
			class="bg-blue-50 hover:bg-blue-100 transition-colors duration-75 ease-linear rounded-lg px-3 py-1 ring-1 ring-blue-200 text-blue-500"
			>об проекте</a
		>

		<a
			href="https://t.me/all_groups12/3"
			target="_blank"
			class="bg-blue-50 hover:bg-blue-100 transition-colors duration-75 ease-linear rounded-lg px-3 py-1 ring-1 ring-blue-200 text-blue-500"
			>Обратная связь</a
		>
	</aside> -->

