---
const user = Astro.locals.user
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="mx-auto container maw-w-4xl">
			<header class="bg-zinc-100 rounded-xl p-5 flex justify-between items-center">
				{
					user ? (
						<div class="w-full flex justify-between items-center gap-2">
							<a
								class=" text-white bg-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 "
								href="/admin"
							>
								Перейти в админ панель
							</a>
							<form method="POST" action="/api/signout">
								<button
									class=" text-white bg-red-600 font-medium rounded-lg text-sm px-5 py-2.5 "
									type="submit"
								>
									Выйти
								</button>
							</form>
						</div>
					) : (
						<div class="flex flex-col gap-2">
							<a class="underline" href="/signin">
								Войти
							</a>
						</div>
					)
				}
			</header>
			<main class="py-12">
				<slot />
			</main>
		</div>
	</body>
</html>
